@import "../base/variables";
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    min-width: 950px;
    margin: 0 auto;
}
@import "../blocks/promo";
@import "../blocks/_header.scss";
@import "../blocks/buttons";
@import "../blocks/preimu";
@import "../base/media";
